.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 80px;
    color: white;


}
.nav-logo {
    cursor: pointer;
    
    
  }
  .nav-logo img {
    mix-blend-mode: multiply;
    width:100px;
    
  }
  
  .nav-logo img:hover {
    opacity: 0.8; 
  }

.nav-menu {
    display:flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-menu li:hover {
    color:blue;
}
.nav-contact{
    border-radius: 50px;
    padding:10px 38px;
    background:#fff;
    color: #262626;
}